[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Tharumals
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Tharumals
	label-Verified = -1..+1 group user/Tharumals
	push = group user/Tharumals
	read = group user/Tharumals
	rebase = group user/Tharumals
	removeReviewer = group user/Tharumals
	submit = group user/Tharumals
[access "refs/heads/*"]
	create = group user/Tharumals
	push = +force group user/Tharumals
	pushMerge = group user/Tharumals
	read = group user/Tharumals
[access "refs/tags/*"]
	push = group user/Tharumals
	push = +force group user/Tharumals
